body{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 .1px 3px 1px #000 ;
}

.nav-buttons ul{
    list-style: none;
    display: flex;
}

.nav-buttons ul li{
    padding: 0 0 0 2rem ;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

.nav-buttons ul li:hover{
   font-weight: 600;
}


.button{
    cursor: pointer;
    padding:  .5rem 4rem;
    margin: .5rem 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #9ca3af;
    /* #9ca3af; */
    background-color: #d1d5db ;
    /* //#f8fafc; */
    border: none;
}

.button:hover{
    background-color: #000;
    color: #fff;
}

.button-file{
    cursor: pointer;
    display: block;
    padding:  .5rem 4rem;
    margin: 3rem 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    /* #9ca3af; */
    background-color: #000 ;
    /* //#f8fafc; */
    border: none;
}

h3{
    text-align: center;

}

p{
    text-align: center;
}

input {
    padding:  .5rem 4rem;
    margin: .5rem 0;
    width: 100%;
    border: none;
    text-align: center;
    background-color: #d1d5db ;
}


  input::placeholder {
    color: #9ca3af;   
}



.section-body{
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-user{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.user{
    display: block;
    width: 200px;
    height: 250px;
    background-color: #f3f4f6;
    padding: 6px;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-position: cover; */
}




#file-input {
    display: none;
}

 /* Dashbaord section */

 .add-file{
    width: 100%;
    height: 250px;
    background-color: #d1d5db;
    border: dashed 2px #9ca3af;
    border-radius: 2px;

      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
body{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 .1px 3px 1px #000 ;
}

.nav-buttons ul{
    list-style: none;
    display: flex;
}

.nav-buttons ul li{
    padding: 0 0 0 2rem ;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

.nav-buttons ul li:hover{
   font-weight: 600;
}


.button{
    cursor: pointer;
    padding:  .5rem 4rem;
    margin: .5rem 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #9ca3af;
    /* #9ca3af; */
    background-color: #d1d5db ;
    /* //#f8fafc; */
    border: none;
}

.button:hover{
    background-color: #000;
    color: #fff;
}

.button-file{
    cursor: pointer;
    display: block;
    padding:  .5rem 4rem;
    margin: 3rem 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    /* #9ca3af; */
    background-color: #000 ;
    /* //#f8fafc; */
    border: none;
}

h3{
    text-align: center;

}

p{
    text-align: center;
}

input {
    padding:  .5rem 4rem;
    margin: .5rem 0;
    width: 100%;
    border: none;
    text-align: center;
    background-color: #d1d5db ;
}


  input::placeholder {
    color: #9ca3af;   
}



.section-body{
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-user{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.user{
    display: block;
    width: 200px;
    height: 250px;
    background-color: #f3f4f6;
    padding: 6px;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-position: cover; */
}




#file-input {
    display: none;
}

 /* Dashbaord section */

 .add-file{
    width: 100%;
    height: 250px;
    background-color: #d1d5db;
    border: dashed 2px #9ca3af;
    border-radius: 2px;

      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
